* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #fc5404;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}

body {
  font-family: "Lato", sans-serif;
}

.not-found {
  margin-top: 100px;
  text-align: center;
}


